{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
	<script src="{% static 'jquery/js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

	<link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'my/css/style.css' %}">

	<meta charset="UTF-8">
	<title></title>
</head>
<body>

<div class="page-header">
	<h1>Poczta Aniołka :)</h1>

	{% if is_authorized %}
		<div class="column"><h3>Witaj {{ user_name }} | </h3></div>
		<div class="column"><a href="{% url 'describe.views.logout_user' %}">Wyloguj</a></div>
	{% endif %}
</div>


{% block content %}
{% endblock %}

</body>
</html>