h1 {
    color: #FCA205;
    font-family: 'Coming Soon', cursive;
}

h3 {
    color: #FCA205;
    font-family: 'Coming Soon', cursive;
}

.page-header {
    background-color: #FCA205;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    height: 140px;
}

.page-header h1 {
    color: #ffffff;
    font-size: 36pt;
}

.page-header h3 {
    color: #ffffff;
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    margin: 3px 0px 0px 0px;

}

.page-header a {
    color: #eeffee;
    font-family: 'Coming Soon', cursive;
    font-size: 16px;
    text-decoration: underline;
}

.content {
    padding-left: 40px;
    text-align: center;
}

.content p {
    font-family: 'Coming Soon', cursive;
    font-size: 22px;
}

.good-message {
    color: green;
}

.important-msg {
    color: red;
    font-size: 30px;
}

.big-link, .big-link:active, .big-link:hover, .big-link:visited {
    font-family: 'Coming Soon', cursive;
    font-size: 28px;
    color: red;
    text-decoration: none;
}

.column {
    float: left;
    margin-right: 10px;
    /*border: solid red 1px;*/
}

.fixed-width-column {
    float: left;
    margin-right: 10px;
    /*border: solid red 1px;*/
    width: 40%;
}